{% extends 'homepage.html' %}
{% load static %}

{% block content %}


            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Step number</th>
                  <th scope="col">Step details</th>
                  <th scope="col">Parts to place</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for step in steps %}
                  <tr>
                    <td>{{ step.name }}</td>
                    <td>{{ step.details }}</td>
                    <td>{{ step.parts }}</td>
                    <td><a href="" class="btn btn-primary"> Edit </a></td>
                {% endfor %}
{% endblock %}